<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/password_reset.css">
</head>
<body>
    <main>
        <div class="main-div">
            <h2 class="password-reset-h2">
                Verify this is you
            </h2>
            <% if (error_message) { %>
                <p class="error-message"><%= error_message %></p>
            <% } %>
            <p class="password-reset-p">
                Dear user. For resetting your password, 
                you should verify first this is you. 
                Please enter your password to verify this
                is you.
            </p>
            
            <form action="/enter_password" method="post" class="enter-password-form">
                <input type="hidden" name="_csrf" value="<%= csrf_token %>">
                <input type="hidden" name="verify_reason" value="<%= verify_reason %>">
                <input type="password" name="password" placeholder="Password" autocomplete="off">
                <button type="submit">Verify yourself</button>
                <a href="/password_reset_form" class="forgot-password-a">Forgot your password?</a>
            </form>
        </div>
    </main>
</body>
</html>