<%- include('includes/head.ejs') %>
</head>
<body>
    <main>
        <div class="main-div">
            <h2 class="home-h2">
                Welcome to the Authentication project
            </h2>
            <p class="home-p">
                This project is an Authentication Project
                created by Javid Sadigli. In this project, 
                the main objective is to implement an 
                authentication system which allows users 
                to sign up, and to sign in. You can also
                update your emails and passwords, add new 
                profile photos, and so on. 
            </p>
            <div class="home-a-div">
                <a href="/signup" class="home-signup-a">Sign Up</a>
                <a href="#" class="home-signin-a">Sign in</a>
            </div>
        </div>
    </main> 
</body>
</html>