<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/info.css">
</head>
<body>
    <main>
        <div class="main-div">
            <h2 class="home-h2">
                Password has succesfully changed
            </h2>
            <p class="home-p">
                Dear User. <br>
                Your password has successfully resetted. 
                <% if (logged_in) { %>
                    </p>
                    <a href="/">Go to home page</a>  
                <% } else { %>
                    Now you can sign in.
                    </p> 
                    <a href="/signin">Sign In</a>  
                <% } %>
            
            
        </div>
    </main>
</body>
</html>