<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/password_reset.css">
</head>
<body>
    <main>
        <div class="main-div">
            <h2 class="password-reset-h2">
                Enter your email
            </h2>
            <p class="password-reset-p">
                Dear user. Please enter your account's 
                email adress for resetting your password.
                Then, you will receive an email that will 
                allow you to set a new password. 
            </p>
            
            <form action="/password_reset_form" method="post" class="password-reset-form">
                <input type="hidden" name="_csrf" value="<%= csrf_token %>">
                <input type="text" name="email" placeholder="Email" autocomplete="off">
                <button type="submit">Send email</button>
            </form>
        </div>
    </main>
</body>
</html>