<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/verify_info.css">
</head>
<body>
    <main>
        <div class="main-div">
            <h2 class="home-h2">
                Email has been sent!
            </h2>
            <p class="home-p">
                Dear User. <br>
                Your email has been sent to your email. 
                Please check your email to verify your account.
            </p>
            <a href="/">Go to home page</a>
        </div>
    </main>
</body>
</html>