@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap');

:root{
    --main-white-color : rgba(189, 189, 189, 0.8);
    --main-black-color : rgb(50,50,50);
    --dark-gray-color : rgb(70, 70, 70);
}

*{
    font-family: 'Tektur';
    color: var(--main-white-color);
    transition: all 0.4s ease-in;
}

p{
    margin: 0px;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
}

body {
    background-image: url('/assets/images/website-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ensures the body takes up the full height of the viewport */
    margin: 0px; /* Removes default body margin */
    background-color: black;
}

main{
    width: 60%;
    height: auto;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
    box-sizing: border-box;
}


.main-div{
    width: 80%;
    height: auto;
    min-height: 500px;
    border: 2px solid var(--main-white-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
}

h2{
    text-align: center;
    margin: 0px;
}

.home-a-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home-signup-a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 70px;
    height: 50px;
    border: 2px solid var(--main-white-color);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-right: -1px;
    transition-duration: 0.3s;
}

.home-signin-a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 70px;
    height: 50px;
    border: 2px solid var(--main-white-color);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: -1px;
    transition-duration: 0.3s;
}
.home-profile-a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    min-width: 140px;
    height: 50px;
    border: 2px solid var(--main-white-color);
    border-radius: 8px;
    margin-left: -1px;
    transition-duration: 0.3s;
}

.main-div:hover{
    background-color: var(--main-white-color);
}

.main-div:hover h2, 
.main-div:hover .home-p{
    color: var(--main-black-color);
}

.main-div:hover .home-a-div .home-signin-a, 
.main-div:hover .home-a-div .home-signup-a, 
.main-div:hover .home-a-div .home-profile-a{
    border: 2px solid var(--main-black-color);
    color: var(--main-black-color);
}

.main-div:hover .home-a-div .home-signin-a:hover, 
.main-div:hover .home-a-div .home-signup-a:hover, 
.main-div:hover .home-a-div .home-profile-a:hover{
    background-color: var(--dark-gray-color);
    color: var(--main-white-color);
}


/* For Mobile */
@media screen and (max-width : 500px) 
{
    body{
        background-image: url('/assets/images/website-background-mobile.jpg');
    }  
    main{
        width: 100%;
    }  
}