a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 2px solid var(--main-white-color);
    border-radius: 8px;
    margin-right: -1px;
    transition-duration: 0.3s;
}

.main-div:hover a{
    border: 2px solid var(--main-black-color);
    color: var(--main-black-color);
}
.main-div:hover a:hover{
    background-color: var(--dark-gray-color);
    color: var(--main-white-color);
}